<ion-header>
  <ion-toolbar class="toolbar">
    <ion-icon name="log-out-outline" class="icono-desconectar"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="transparent-background">
  <img src="assets\35589.png" class="img-fluid fondo-imagen extendida">

  <h1>Evaluación</h1>

  <!-- Pregunta 1 -->
  <ion-card class="transparent-background">
    <ion-card-header>
      <ion-card-title >Pregunta 1</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-radio-group>
        <ion-item>
          <ion-label>Opción 1</ion-label>
          <ion-radio value="opcion1"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Opción 2</ion-label>
          <ion-radio value="opcion2"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Opción 3</ion-label>
          <ion-radio value="opcion3"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Opción 4</ion-label>
          <ion-radio value="opcion4"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-card-content>
  </ion-card>


  <ion-card class="transparent-background">
    <ion-card-header>
      <ion-card-title>Pregunta 2</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-radio-group>
        <ion-item>
          <ion-label>Opción 1</ion-label>
          <ion-radio value="opcion1"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Opción 2</ion-label>
          <ion-radio value="opcion2"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Opción 3</ion-label>
          <ion-radio value="opcion3"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Opción 4</ion-label>
          <ion-radio value="opcion4"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-card-content>
  </ion-card>


  <ion-card class="transparent-background">
    <ion-card-header>
      <ion-card-title >Pregunta 3</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-radio-group>
        <ion-item>
          <ion-label>Opción 1</ion-label>
          <ion-radio value="opcion1"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Opción 2</ion-label>
          <ion-radio value="opcion2"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Opción 3</ion-label>
          <ion-radio value="opcion3"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Opción 4</ion-label>
          <ion-radio value="opcion4"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-card-content>
  </ion-card>

  <ion-card class="transparent-background">
    <ion-card-header>
      <ion-card-title>Pregunta 3</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-radio-group>
        <ion-item>
          <ion-label>Opción 1</ion-label>
          <ion-radio value="opcion1"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Opción 2</ion-label>
          <ion-radio value="opcion2"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Opción 3</ion-label>
          <ion-radio value="opcion3"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Opción 4</ion-label>
          <ion-radio value="opcion4"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-card-content>
  </ion-card>
  <ion-card class="transparent-background">
    <ion-card-header>
      <ion-card-title>Pregunta 3</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-radio-group>
        <ion-item>
          <ion-label class="transparent-background">Opción 1</ion-label>
          <ion-radio value="opcion1"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Opción 2</ion-label>
          <ion-radio value="opcion2"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Opción 3</ion-label>
          <ion-radio value="opcion3"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Opción 4</ion-label>
          <ion-radio value="opcion4"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-card-content>
  </ion-card>
  <ion-card class="transparent-background">
    <ion-card-header>
      <ion-card-title>Pregunta 3</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-radio-group>
        <ion-item>
          <ion-label>Opción 1</ion-label>
          <ion-radio value="opcion1"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Opción 2</ion-label>
          <ion-radio value="opcion2"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Opción 3</ion-label>
          <ion-radio value="opcion3"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Opción 4</ion-label>
          <ion-radio value="opcion4"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-card-content>
  </ion-card>
  <ion-card class="transparent-background">
    <ion-card-header>
      <ion-card-title>Pregunta 3</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-radio-group>
        <ion-item>
          <ion-label>Opción 1</ion-label>
          <ion-radio value="opcion1"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Opción 2</ion-label>
          <ion-radio value="opcion2"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Opción 3</ion-label>
          <ion-radio value="opcion3"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Opción 4</ion-label>
          <ion-radio value="opcion4"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-card-content>
  </ion-card>
  <ion-card class="transparent-background">
    <ion-card-header>
      <ion-card-title>Pregunta 3</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-radio-group>
        <ion-item>
          <ion-label>Opción 1</ion-label>
          <ion-radio value="opcion1"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Opción 2</ion-label>
          <ion-radio value="opcion2"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Opción 3</ion-label>
          <ion-radio value="opcion3"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Opción 4</ion-label>
          <ion-radio value="opcion4"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-card-content>
  </ion-card>
  <ion-card class="transparent-background">
    <ion-card-header>
      <ion-card-title>Pregunta 3</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-radio-group>
        <ion-item>
          <ion-label>Opción 1</ion-label>
          <ion-radio value="opcion1"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Opción 2</ion-label>
          <ion-radio value="opcion2"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Opción 3</ion-label>
          <ion-radio value="opcion3"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Opción 4</ion-label>
          <ion-radio value="opcion4"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-card-content>
  </ion-card>
  <ion-card class="transparent-background">
    <ion-card-header>
      <ion-card-title>Pregunta 3</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-radio-group>
        <ion-item>
          <ion-label>Opción 1</ion-label>
          <ion-radio value="opcion1"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Opción 2</ion-label>
          <ion-radio value="opcion2"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Opción 3</ion-label>
          <ion-radio value="opcion3"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Opción 4</ion-label>
          <ion-radio value="opcion4"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-card-content>
  </ion-card>
  <ion-card class="transparent-background">
    <ion-card-header>
      <ion-card-title>Pregunta 3</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-radio-group>
        <ion-item>
          <ion-label>Opción 1</ion-label>
          <ion-radio value="opcion1"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Opción 2</ion-label>
          <ion-radio value="opcion2"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Opción 3</ion-label>
          <ion-radio value="opcion3"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Opción 4</ion-label>
          <ion-radio value="opcion4"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-card-content>
  </ion-card>

  <!-- Repite el bloque anterior para el resto de las preguntas -->
</ion-content>
