<ion-header>
  <ion-toolbar>
    <ion-title class="registro">Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding contenido-con-fondo">
    <img src="assets\35589.png" class="img-fluid fondo-imagen">

  <ion-list>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="nombre" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input [(ngModel)]="email" type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)]="contrasena" type="password"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button class="botonRegistro" expand="full" (click)="guardarRegistro()" [disabled]="!camposCompletos()">Registrar</ion-button>
  <div class="boton-volver">
    <button expand="full" fill="clear" (click)="volverAtras()">Volver al Login</button>
  </div>
</ion-content>
